<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Queue Calculator</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
    <script src="{{url_for('static', filename='script.js')}}"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <header><h1>Queue <span id="system_name"></span></h1></header>
    <form class="input_section">
        <div class="input_section_data">
            <label class="input_section_label">λ</label>
            <input class="required-number" type="number" id="lambda" min="1" placeholder="Arrival Rate" required>
        </div>
        <div class="input_section_data">
            <label class="input_section_label">μ</label>
            <input class="required-number" type="number" id="mu" min="1" placeholder="Service Rate" required>
        </div>
        <div class="input_section_data" id="input_servers">
            <label class="input_section_label">s</label>
            <input class="required-number" type="number" id="servers" min="1" placeholder="Number of servers" required>
        </div>
        <div class="input_section_data">
            <label class="input_section_label">k</label>
            <input class="optional-number" type="number" id="capacity" min="1" placeholder="Capacity">
        </div>
        <div class="switch">
            <label for="server-switch">Custom server</label>
            <input type="checkbox" id="server-switch" min="1" onclick="toggleServerInput()">
        </div>
        <button class="input_button" onclick="calculate()">Calculate</button>
    </form>
</body>
</html>